
<link rel="stylesheet" href="/styles/newUserAuth.css">
<body>
    

<div class="modal show fade" id="loginSignupModal" tabindex="-1" aria-labelledby="loginSignupModalLabel" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h5 class="modal-title w-100" id="loginSignupModalLabel">Welcome to TrendZap</h5>
        </div>
        <div class="modal-body">
          <p class="mb-4">To continue, please login or signup to your account.</p>
          <div class="d-grid gap-2">
            <button class="btn btn-custom btn-login" onclick="location.href='/login';">Login</button>
            <button class="btn btn-custom btn-signup" onclick="location.href='/signup';">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>