

<link rel="stylesheet" href="/styles/orderConfirm.css">

<body>
    <div class="order-confirmation">
        <div class="order-header">
            <div class="checkmark">✔</div>
            <div class="order-info">
                <p>Order #234000</p>
                <h1>Thank you for your order!</h1>
            </div>
            <a href="/trackOrder" class="track-order">Track order</a>
        </div>

        
       <div class="greeting-section">
    <p>Thank you for choosing TrendZap!</p>
    <p>We hope you enjoy your purchase and look forward to serving you again.</p>
</div>

        <div class="contact">
            <a href="/home" class="btn">Continue Shopping</a>
            <a href="/orders" class="btn">View Orders</a>
        </div>
    </div>

 
</body>