#selectImage{
  height: 16%;
  width: 50%;
}


.img-zoom-container {
    position: relative;
    display: inline-block;
    cursor: crosshair;
    margin-left: 130px;
  }

  .img-zoom-view {
    position: absolute;
    border: 1px solid #ccc;
    width: 250px; /* Size of the zoom view */
    height: 250px; /* Size of the zoom view */
    display: none;
    pointer-events: none; /* Prevents mouse events */
    background-repeat: no-repeat;
    background-size: 400px 400px; /* Adjust according to zoom */
    border-radius: 50%; /* Optional, to make it round */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow */
  }

  .rating {
    display: flex;
    cursor: pointer;
  }
  
  .star {
    font-size: 24px; /* Size of the star */
    color: lightgray; /* Default star color */
    transition: color 0.2s ease;
  }
  
  .star:hover,
  .star.selected {
    color: gold; /* Color when hovered or selected */
  }

  .card-img-top:hover {
    cursor: pointer;
}
  

/* rating */

body {
    font-family: Arial, sans-serif;
}
.review-section {
    max-width: 305px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 1px;
    margin-left: 0px;
}
.average-rating {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: #f0c14b;
}
.average-rating span {
    margin-right: 5px;
}
.rating-score {
    font-size: 1.2em;
    color: #333;
    margin-left: 5px;
}
.total-ratings {
    color: #666;
    font-size: 0.9em;
    margin-top: 5px;
}
.rating-bar {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.star-level {
    flex: 1;
    color: #333;
    font-size: 0.9em;
}
.progress-bar {
    width: 60%;
    background-color: #ddd;
    border-radius: 3px;
    overflow: hidden;
    margin: 0 5px;
    height: 8px;
}
.progress-fill {
    height: 100%;
    background-color: #f0c14b;
}
.rating-percentage {
    color: #333;
    font-size: 0.9em;
}
.expand-info {
    color: #0066c0;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}





.rating-stars .star {
  font-size: 1.5rem;
  color: #ddd;
  cursor: pointer;
}

.rating-stars .star.selected,
.rating-stars .star:hover,
.rating-stars .star:hover ~ .star {
  color: #f0c14b;
}