


<div class="main-content">
    <div class="navbar">
      <input type="text" placeholder="Search...">
      <div class="profile">
        <span>Hi, Admin</span>
        <i class="fas fa-user-circle"></i>
         <a href="/admin/logout" class="logout-btn">Logout</a>
      </div>
    </div> 